<%- include('partials/header.ejs') %>
<div>
    <div>
        <h3>title</h3>
    <div><img src="image" alt="patal ka bharva"></div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, eum?</div>
</div>
</div>
<%- include('partials/footer.ejs') %>